.container {
    width: 90%;
    max-width: 40rem;
    margin: 3rem auto;
    padding: 2rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}
 
  .actions {
    text-align: center;
  }
  .link{
    margin: 0px 5px;
  }
  @media (min-width: 768px) {
    .control {
      align-items: center;
      flex-direction: row;
    }
  
  }