
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    background-color: aqua;
}
.header button{
    border-radius: 5px;
    padding: 5px;
    border: none;
    text-align: center;
    background-color: rgb(185, 181, 181);
    margin: 0 3px;
}
.header input{
    border-radius: 5px;
    padding: 3px;
    margin: 0 3px;
}
.groupContainer {
    flex-grow: 1;
    overflow-y: auto;
   
    border: 1px solid #ccc;
    width: 50vw;
    margin: auto;
  }
  
  .grouplist{
      padding: 4px;
      display: flex;
      flex-direction: column;
      height: 80vh;
  }
  .grouplist li{
      list-style-type: none;
      text-align: left;
      background-color: #d3c9c9;
      display: flex;
      justify-content: space-between;
      margin: 4px 0px;
      padding: 5px;
  }
  .grouplist li p{
    margin: 0;
  }
  .grouplist li i{
    background-color: green;
    padding: 2px 5px;
    border-radius: 5px;
  }
  .grouplist li button{
    border-radius: 5px;
    padding: 5px;
    border: none;
    text-align: center;
    background-color: rgb(228, 98, 98);
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .groupContainer {
      width: 100vw;
      margin: 0;
    }
  }
  